* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f7e0cf;
}

main {
    width: 85vw;
    margin: 110px auto;
}
#mainGridContainer {
    display: grid;
    grid-template-columns: repeat(12, auto);
    gap: 0.5vw;
}
#Dept { grid-area: 1 / 1 / span 1 / span 6 }
#Serv { grid-area: 1 / 7 / span 1 / span 6 }
#Admin{ grid-area: 2 / 1 / span 1 / span 6 }
#Edit { grid-area: 2 / 7 / span 1 / span 6 }
#TS   { grid-area: 3 / 1 / span 1 / span 4 }
#TAp  { grid-area: 3 / 5 / span 1 / span 4 }
#TAr  { grid-area: 3 / 9 / span 1 / span 4 }
#TApi { grid-area: 4 / 1 / span 1 / span 6 }
#Res  { grid-area: 4 / 7 / span 1 / span 6 }
#PF   { grid-area: 5 / 1 / span 1 / span 3 }
#DB   { grid-area: 5 / 4 / span 1 / span 3 }
#Lang { grid-area: 5 / 7 / span 1 / span 3 }
#MW   { grid-area: 5 / 10/ span 1 / span 3 }
#App  { grid-area: 6 / 1 / span 1 / span 6 }
#Api  { grid-area: 6 / 7 / span 1 / span 6 }


.mainItemHead {
    height: 30px;
    line-height: 30px;
    font-size: 1.05em;
    padding: 0 20px;
    font-weight: bolder;
    color: #F47216;
    background-color: #251D3A;
}

.mainItemBody {
    height: 150px;
    overflow-y: auto;
    border-left: #251D3A 5px solid;
    border-right: #251D3A 5px solid;
}
.tab2Col, .tab3Col, .tab4Col {
    width: 100%;
    border-collapse: collapse;
}

:-webkit-any(.tab2Col, .tab3Col, .tab4Col) tr {
    border-bottom: 1px solid #251D3A;
}
:-webkit-any(.tab2Col, .tab3Col, .tab4Col) td {
    color: #251D3A;
    padding: 0 4px;
}

.tab2Col .cel1 { width: 80%; }
.tab2Col .cel2 { text-align: center; }

.tab3Col .cel1 { width: 20%; }
.tab3Col .cel2 { width: 70%; }
.tab3Col .cel3 { text-align: center; }

.tab4Col .cel1 { width: 10%; }
.tab4Col .cel2 { width: 20%; }
.tab4Col .cel3 { width: 60%; }
.tab4Col .cel4 { text-align: center; }

:-webkit-any(.tab2Col, .tab3Col, .tab4Col) :is(a, i) {
    font-size: 1.5em;
    color: #251D3A;
    text-decoration: none;
    justify-content: center;
    cursor: pointer;
}
:-webkit-any(.tab2Col, .tab3Col, .tab4Col) tr:hover {
    background-color: #F47216;
}

.mainItemFooter {
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #251D3A;
}
.mainItemFooter .inputFld{
    width: 80%;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}
.mainItemFooter input {
    width: 85%;
    height: 25px;
    border-radius: 10px;
    padding: 0 10px;
    color: #F47216;
    border: #F47216 2px solid;
    background: none;
}
.mainItemFooter input::-webkit-input-placeholder {
    color: #f7e0cf;
}
.mainItemFooter input:focus {
    outline: none;
}

.mainItemFooter .btnFld{
    width: 20%;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}
.mainItemFooter button {
    font-size: 32px;
    color: #F47216;
    border: none;
    background: none;
    cursor: pointer;
}


.openMmodal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    position: fixed;
    background-color: #f7e0cf9e;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalContainer {
    width: 60vw;
    height: 500px;
    border-radius: 15px;
    background-color: #f7e0cf;
    border: #F47216 5px solid;
}
.backIcon {
    margin: -5px -5px;
    padding: 0 10px;
    font-size: 3em;
    border-radius: 15px 0 0 0;
    color: #f7e0cf;
    background-color: #F47216;
    cursor: pointer;
}


#searchContainer {
    display: flex;
    justify-content: center;
}
#searchContainer input {
    height: 30px;
    width: 20vw;
    border-radius: 10px;
    padding: 0 15px;
    font-size: 1.3em;
    color: #251D3A;
    border: #F47216 2px solid;
    background: none;
}
#searchContainer input::-webkit-input-placeholder {
    color: #251D3A;
}
#searchContainer input:focus {
    outline: none;
}

#employeesContainer {
    height: 320px;
    margin: 30px 3vw 0px 3vw;
    overflow-y: auto;
}
#employeesContainer table {
    width: 100%;
    border-collapse: collapse;
}
#employeesContainer table td {
    border: 1px solid #251D3A;
    color: #251D3A;
    text-align: center;
}
#employeesContainer table thead td {
    position: sticky;
    top: 0;
    background-color: #251D3A;
    color: #F47216;
}
#employeesContainer .id {
    width: 20%;
}
#employeesContainer .check {
    width: 10%;
}
#employeesContainer table tr:hover {
    background-color: #F47216;
}
.check input[type="checkbox"], .empOpt .fa-square-check {
    display: none;
}
.check input[type="checkbox"]:checked ~ .empOpt .fa-square-check {
    display: initial;
}
.check input[type="checkbox"]:checked ~ .empOpt .fa-square{
    display: none;
}
/*==============================================*/
.subEditModalContainer{
    height: 400px;
    margin: 30px 3vw 0px 3vw;
    overflow-y: auto;
}
.gridContainer {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 7px;
    padding: 7px;
    color: #251D3A;
}
.items{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 5px;
    border-bottom: #ff8c00 2px solid;
}
.items > :is(input, select){
    height: 25px;
    border-radius: 10px;
    color: #251D3A;
    background: none;
    border: orange 1px solid;
}
.items > input{
    width: 15vw;
    padding: 0 15px;
}
.items > select{
    width: calc(15vw + 30px);
    text-align: center;
    cursor: pointer;
}
.items :is(select, input, textarea):focus {
    outline: none;
}

.langContainer{
    width: calc(15vw + 30px);
    margin-top: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: #F47216;
}
.langCheckBox{
    border-radius: 10px;
    overflow: auto;
    white-space: nowrap;
    display: flex;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.langCheckBox::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.langCheckBox input[type='checkbox']{
    display: none;
}
.langCheckBox label{
    padding: 3px 10px;
    color: #251D3A;
    background-color: #F47216;
    cursor: pointer;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.langCheckBox .langOpt:checked + label{
    color: #F47216;
    background-color: #251D3A;
}

.items .inputFileIcon{
    margin: 5px;
    font-size: 2em;
    color: #F47216;
    cursor: pointer;
}
.items :is(#apiDocumentation, #appDocumentation){
    display: none;
}

.items textarea{
    width: 95%;
    height: 50px;
    padding: 7px;
    resize: none;
    background: none;
    border-radius: 15px;
    border: #F47216 1px solid;
    color: #251D3A;
}

#appUploadImg{ display: none; }
.imgIcon{
    font-size: 2em;
    display: inline-block;
    color: #F47216;
    cursor: pointer;
}
.PreviewImage{
    margin: 7px;
    height: 300px;
}

/*==============================================*/
#security{
    display: flex;
    margin: 5px;
}
#security .opt{
    display: none;
}
#security :is(label[for='secYes'], label[for='secNo']){
    width: 5vw;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    color: #251D3A;
    background-color: #F47216;
}
#security label[for='secYes']{
    border-radius: 10px 0 0 10px;
}
#security label[for='secNo']{
    border-radius: 0 10px 10px 0;
}
#security .opt:checked + label{
    color: #F47216;
    background-color: #251D3A;
}

#apiUploadImg{ display: none; }
/*==============================================*/

.modalContainer form button{
    width: 20vw;
    height: 30px;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 1.05em;
    font-weight: bolder;
    display: block;
    background-color: #251D3A;
    color: #F47216;
    border: none;
    cursor: pointer;
}




/*==============================================*/
#submitButton{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}
#submitButton button{
    height: 35px;
    width: 15vw;
    border-radius: 15px;
    background-color: #251D3A;
    color: #F47216;
    border: none;
}
/*==============================================*/

@media screen and (max-width: 1495px){
    main { width: 95vw; }
}
@media screen and (max-width: 1340px){
    #PF  { grid-area: 5 / 1 / span 1 / span 6 }
    #DB  { grid-area: 5 / 7 / span 1 / span 6 }
    #Lang{ grid-area: 6 / 1 / span 1 / span 6 }
    #MW  { grid-area: 6 / 7 / span 1 / span 6 }
    #App { grid-area: 7 / 1 / span 1 / span 6 }
    #Api { grid-area: 7 / 7 / span 1 / span 6 }
}
@media screen and (max-width: 1000px){
    #mainGridContainer{ display: initial; }
    .items{ margin-bottom: 10px; }
    
    .modalContainer { width: 95vw; }
    .backIcon {font-size: 2em;}
    #searchContainer input { font-size: 1em; }
    #submitButton button{ width: 150px; }
}
@media screen and (max-width: 700px){
    .gridContainer {
        display: initial;
        padding: 0;
    }
    .items{ margin: 0 10px; }
    .items > input{ width: 35vw; }
    .items > select{ width: calc(35vw + 30px); }
    #security :is(label[for='secYes'], label[for='secNo']){ width: 70px; }
    .langContainer{ width: calc(35vw + 30px); }
    .modalContainer form button{ width: 120px; }
}